<div id="canvas1" class="line-chart">

</div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Date', 'Blood Glucose(nmol/L)'],
            ['17/5',  14.5],
            ['18/5',  14],
            ['19/5',  14.7],
            ['20/5',  15],
            ['21/5',  17],
            ['22/5',  19],
            ['23/5',  13]
        ]);

        var options = {
            title: 'Blood Glucose Level',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('canvas1'));

        chart.draw(data, options);
        }
    </script>