body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    background-image: url(images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    background-size: cover;
    overflow: scroll;
    background-attachment: fixed;
    margin: auto;
}
.container{
    width: 100%;
    /* min-height: 100vh; */
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.ribbon{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.hamb_logo{
    width: 60px;
    cursor: pointer;
    display:none;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: -75px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li a:hover{
    color: black;
}

div li{
    font-size: 22px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #1D5EB7;
    opacity: 0.82;
    height: 80px;
}

ul {
    display: block;
    list-style-type: none;
    padding-top: 0px;
    padding-left: 100px;
    font-size: 18px;
    line-height: 2em;
}
.top img{
    margin-left: 30px;
    margin-right: 10px;
}
h1{
    color: white;
    font-family: 'Hurricane', cursive;
    font-size: 45px;
}

header a {
    text-decoration: none;
    color: white;
} 

header a:hover {
    color: white;
}

.title{
    margin-top: -40px;
    margin-bottom: 100px;
}

.title h2{
    font-size: 44px; 
    margin-bottom: 30px; 
    color: #397EDA;
}

.datatab{
    max-width: 70%;
    margin: auto;   
}
table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    border: 0.5px solid grey;
    padding: 0.5rem 0.5rem;
    text-align: center;
}
tr:nth-child(2n){
    background-color: #E3E3E4;
}
thead{
    margin: 0;
    text-align: center;
    background-color: #CEDDF5;
    font-weight: bold;
    padding: 0.5rem 1rem;  
}

thead td{
    border: none;
}

.button{
    max-width: 70%;
    height: 200px;
    margin: auto;
    padding: 1px;
    position: relative;
}

button{
    float: right;
    width: 139px;
    height: 48px;
    margin-top: 65px;
    margin-bottom: 100px;
    background-color: #4279C2;
    border-radius: 11px 11px 11px 11px;
    border: white;
}

button a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 0.4px #EAEAEA;
    font-family: 'DIN Condensed';
    float: left;

}

button a img{
    width: 13px;
    height: 14px;
    margin-top: 9px;
    margin-right: 4px;
    margin-left: 8px;
}

p{
    font-size: 10px;
    font-family: 'Apple Chancery';
    margin: 42px;
    width: 293px;
}
.page_navigation a{
    text-decoration: none;
    color: black;
}
.page_navigation p{
    font-size: 20px; 
    display: inline; 
    border: 2px solid; 
    border-color:#ddd; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}
.data_graph li h4{
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}

footer h6{
    margin-top: 100px;
    margin: 42px;
    margin-bottom: 20px;
    font-size: 10px;
}

@media only screen and (max-width: 375px) and (orientation: portrait){
    .container{
        width: 100%;
        padding-right: 0%;
    }
    .navbar{
        height:0px;
    }
    nav ul{
        width: 275px;
        background:#4279C2;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        top: 0px;
    }
    nav ul li a {
        font-size: 14px;
        color: white;
    }
    .hamb_logo{
        position: relative;
        top:-35px;
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }







    .top h1 a{
        font-size: 32px;
    }
    header {
        width: 375px;
    }
    nav li{
        font-size: 16px;
    }
    nav ul{
        margin: 0px;
    }
    .nav_bar { 
        position: absolute;
        left: 10%;
        font-size: 16px;
    }
    .nav_bar a{ 
        font-size:16px;
    }
    .title{
        position: relative;
        z-index: -1;
        left: 10%;
        margin: 0px;
        padding-left: 0px;
        width: 250px;
    }
    .title li{
        width: 250px;
    }
    .title h2{
        font-size: 28px;
        margin-bottom: 40px;
        width:300px;
    }
    .datatab{
        position: relative;
        font-size: 13px;
        left:0%;
    }

    .page_navigation{
        position: relative;
        left: 0%;
    }
    .button{
        position: absolute;
        left: 220px;
        margin: 0px;
    }
    .data_graph{
        padding-left: 40px;
    }
    .data_graph li h4{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
    .title{
        position: relative;
        margin-bottom: 50px;
    }
    .button{
        height:0px;
    }
    .button button{
        position: relative;
        margin-top: 0px;
        bottom: 40px;
    }
    .page_navigation{
        position: relative;
        bottom: 40px;
    }

}