body {
    color: black;
    /*background: gray;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    background-image: url(images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    /* height: 5000px; */
    background-size: cover;
    overflow: scroll;
    background-attachment: fixed;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #1D5EB7;
    opacity: 0.82;
    height: 80px;
}

ul {
    display: block;
    list-style-type: none;
    padding-top: 30px;
    padding-left: 100px;
    font-size: 18px;
    line-height: 2em;
}
.top img{
    margin-left: 30px;
    margin-right: 10px;
}
h1{
    color: white;
    font-family: 'Hurricane', cursive;
    font-size: 45px;
}

/* history data */


header a {
    /* 无下划线 */
    text-decoration: none;
    /* 白色字体 */
    color: white;
} 

header a:hover {
    /* 鼠标在字上的颜色 */
    color: white;
}


.datatab{
    max-width: 70%;
    margin: auto;   
}
table{
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}
td{
    border: 0.5px solid grey;
    padding: 0.5rem 0.5rem;
    text-align: center;
}
tr:nth-child(2n){
    background-color: #E3E3E4;
}
thead{
    margin: 0;
    text-align: center;
    background-color: #CEDDF5;
    font-weight: bold;
    padding: 0.5rem 1rem;  
}

thead td{
    border: none;
}

.button{
    max-width: 70%;
    height: 200px;
    margin: auto;
    padding: 1px;
    position: relative;
}

button{
    float: right;
    width: 139px;
    height: 48px;
    margin-top: 65px;
    margin-bottom: 100px;
    background-color: #4279C2;
    border-radius: 11px 11px 11px 11px;
    border: white;
}

button a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 0.4px #EAEAEA;
    font-family: 'DIN Condensed';
    float: left;

}

button a img{
    width: 13px;
    height: 14px;
    margin-top: 9px;
    margin-right: 4px;
    margin-left: 8px;
}

p{
    font-size: 10px;
    font-family: 'Apple Chancery';
    margin: 42px;
    width: 293px;
}
.page_navigation a{
    text-decoration: none;
    color: black;
}
.page_navigation p{
    font-size: 20px; 
    display: inline; 
    border: 2px solid; 
    border-color:#ddd; 
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

footer h6{
    margin-top: 100px;
    margin: 42px;
    margin-bottom: 20px;
    font-size: 10px;
}