<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes@Home</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
</head>
<body>
    <header class="top">
        <img class="top-ribbon" src="../images/ribbon.png" alt="logo">
        <ul class="logout-nav-left">
            <li><h1><a href="/clinician/dashboard">Diabetes@Home</a></h1></li>
        </ul>
        <ul class="logout-nav-right">
            <li><p><a href="/clinician/logout">Logout</a><p></li>
        </ul>
            <img class="top-notification" src="../images/notification.png" alt="logo">
    </header>

    {{{body}}}

</body>
</html>