<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes@Home</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
</head>
<body>
    <div class="container">
        <header class="top">
            <img src="/images/ribbon.png" alt="logo" width="40" height="40">
            <h1><a href="/patient/dashboard">Diabetes@Home</a></h1>
        </header>
        <div class = "navbar">
            <nav>
                <ul id="menuList">
                    <li><a href="/patient/diabetes">About Diabetes</a></li>
                    <li><a href="/patient/website">About This Website</a></li>
                    <li><a href="/patient/logout">Logout</a></li>
                    <li><a href="/patient/updatePassword">Reset Password</a></li>
                </ul>
            </nav>
            <img src="/images/hamb_icon.jpg" class="hamb_logo" onclick="togglemenu()">
        </div>
    </div>
    {{{body}}}
        <!-- <footer>
            <h6>Copyright 2022 | Privacy</h6>
        </footer> -->
    <script>
        var menuList = document.getElementById("menuList");

        menuList.style.maxHeight = "0px";

        function togglemenu(){
            if(menuList.style.maxHeight == "0px"){
                menuList.style.maxHeight ="150px"
            }
            else{
                menuList.style.maxHeight ="0px"
            }
        }
    </script>
</body>

</html>
