<ul class="top-info" style="margin-top: 0px; padding-left: 0px;">
    <li style=><h2 style="font-size: 36px; margin-bottom: 10px;">Welcome Back!</h2></li>
    <li><p style="font-size: 20px; margin-top: 20px;">{{Username}}<img src="images/golden_badge.png" alt="golden_badge" width="25" height="30" style="margin-left: 10px;"></p></li>
    <li class="blocks"></li>
</ul>
<div class="main">
    <ul class="nav-block">
        <li style="background-color: #DCEAEC;">
            <img src="images/record.png" alt="record icon" width="40" height="40">
            <p><a href="patient/record_data">Record Data ></a></p>
        </li>
        <li style="background-color: #E9E6D2;">
            <img src="images/history.png" alt="history icon" width="40" height="40">
            <p><a href="patient/history_data">View History Data ></a></p>
        </li>
    </ul>
    <ul class="nav-block">
        <li style="background-color: #E7DDD5;">
            <img src="images/message.png" alt="message icon" width="40" height="40">
            <p><a href="patient/messages" style="margin: 0px;">Messages ></a></p>
        </li>
        <li style="background-color: #E0DEED;">
            <img src="images/leaderboard.png" alt="leaderboard icon" width="40" height="40">
            <p><a href="patient/leaderboard" style="margin: 0px;">Leaderboard ></a></p>
        </li>
    </ul>
    <!-- </div> -->
    <ul class="clinician-message" style="display: inline;">
        <li><p style="background-color: #1D5EB7;">Today's Clinician message</p></li>
        <li><h5 style="background-color: white;">Happy birthday Pat!!!</h5></li>
    </ul>
</div>