<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="patientHomepage.css"> 
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
</head>
<body>
    <header class="Header">
        <h1>Diabetes@Home</h1>
    </header>
    <div>
        <hr class = "line1" size="1" width="900px" color="black">
        <hr class = "line2"size="1" width="900px" color="black">
        <ul class="login_nav_bar1">
            <li><a href="https://www.google.com/", target="_blank">About This Website></a></li>
        </ul>
        <ul class="login_nav_bar2">
            <li><a href="https://www.google.com/", target="_blank">About Diabetes></a></li>
        </ul>
    </div>
    <p class="role_selector_clinician"><a href="clinicianHomepage.html" target="">Clinician&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></p>
    <p class="role_selector_patient"><a href="patientHomepage.html" target="">patient</a></p><br><br><br><br>

    <form class="login_form" action="about_diabetes.html">
        <div class="username_password">
            <label for="Username">Username*</label><br>
            <input type="text" id="Username" name="Username"><br>
            <br>
            <label for="Password">Password*</label><br>
            <input type="password" id="Password" name="Password"><br>
        </div>
        <ul class="forgot_password">
            <li><a href="https://www.google.com/", target="_blank">Forget Password?</a></li>
        </ul>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
<footer>
    <h5 style="position: relative; left: 100px">Copyright 2022 | Privacy</h5>
</footer>
</html>