<header class="top">
    <img src="../images/ribbon.png" alt="logo" width="40" height="40">
    <h1><a href="/patient">Diabetes@Home</a></h1>
</header>
<nav>
    <ul>
            <li style="font-size: 16px;"><a href="/patient">Home</a> > Record data</li>
    </ul>
</nav>
<main>
    <!--标题--> 
    <ul class="top-info" style="margin-top: -40px;">  
        <li>
            <h2 style="font-size: 36px; margin-bottom: 200px; color: #397EDA;">Record Your Data</h2>
        </li>
        
    </ul>

    <form action="/patient/record_data" method="POST">
        <!--输入每项数据-->
        <div class="enter-data">
            <div>
                <label>Enter your blood glucose level:</label>
                <input name="bgl"></input><span>nmol/L</span>
            </div>
            <a href="/patient">+ Add a comment</a>
        </div>
        
        <div class="enter-data">
            <div>
                <label>Enter your weight:</label>
                <input name="wght"></input><span>kg</span>
            </div>
            <a href="/patient">+ Add a comment</a>
        </div>

        <div class="enter-data">
            <div>
                <label>Enter your insulin doses:</label>
                <input name="doses"></input><span>doses</span>
            </div>
            <a href="/patient">+ Add a comment</a>
        </div>

        <div class="enter-data">
            <div>
                <label>Enter your step counts:</label>
                <input name="steps"></input><span>steps</span>
            </div>
            <a href="/patient">+ Add a comment</a>
        </div>

        {{!-- <button><a href="history_data.html"><img src="images/submit_icon.png">Submit</a></button> --}}
        {{!-- <button><input type="submit" value="Submit" class="submit-button"/></button> --}}
        <button type="submit"><a><img src="../images/submit_icon.png">Submit</a></button>
    </form>


    <div class="sentence">
        <p>Diabetes is the leading cause of bravery, determination, resilience, 
        maturity, empathy, strength, and compassion. </p>
        <br>
        <p>In other words, people with Diabetes are superheroes without capes!</p>
    </div>
    

    <!-- check图标？
        <img src="images/check_green.png">
    -->

    <br>
    <footer>
        <h6>Copyright 2022 | Privacy</h6>
        <br>
    </footer>
</main>