<div class="container">
    <header class="top">
        <img src="images/ribbon.png" alt="logo" width="40" height="40">
        <h1><a href="dashboard">Diabetes@Home</a></h1>
    </header>
    <div class = "navbar">
        <nav>
            <ul id="menuList">
                <li><a href="diabetes">About Diabetes</a></li>
                <li><a href="website">About This Website</a></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </nav>
        <img src="images/hamb_icon.jpg" class="hamb_logo" onclick="togglemenu()">
    </div>

    
</div>


<div>
    <ul>
            <li class="nav_bar"><a href="dashboard">Home</a> > Record data</li>
    </ul>
</div>
<main>
    <ul class="top-info">  
        <li>
            <h2>Record Your Data</h2>
        </li>  
    </ul>

    <div id="overlay1">
        <form>
            <label>Add a comment:</label>
            <br>
            <textarea name="comment" id="comment"></textarea>
        </form>
        <button onclick="off1()">Done</button>
    </div>

    <div id="overlay2" onclick="off2()">
        <div id="text">
            Your record has been successfully submitted!                
        </div>
        <a href="history_data.html">View history data ></a>
    </div>
        
    <div class="enter-data">
        <form>
            <label>Enter your blood glucose level:</label>
            <input></input><span style="margin-left:-60px;">nmol/L</span>
            <a onclick="on1()">+ Add a comment</a>
            <br>
            <br>
            <br>
            <label>Enter your weight:</label>
            <input></input><span style="margin-left:-32px;">kg</span>
            <a onclick="on1()">+ Add a comment</a>
            <br>
            <br>
            <br>
            <label>Enter your insulin doses:</label>
            <input></input><span style="margin-left:-58px;">doses</span>
            <a onclick="on1()">+ Add a comment</a>
            <br>
            <br>
            <br>
            <label>Enter your step counts:</label>
            <input></input><span style="margin-left:-58px;">steps</span>
            <br>
            <a onclick="on1()">+ Add a comment</a>
        </form>
        
    </div>
    
    <div class="button1">
        <button onclick="on2()"><a><img src="images/submit_icon.png">Submit</a></button>
    </div>
    

    <div class="sentence">
        <p>Diabetes is the leading cause of bravery, determination, resilience, 
        maturity, empathy, strength, and compassion. </p>
        <br>
        <p>In other words, people with Diabetes are superheroes without capes!</p>
    </div>
    

    <!-- check图标？
        <img src="images/check_green.png">
    -->

    <br>
    <footer>
        <h6>Copyright 2022 | Privacy</h6>
        <br>
    </footer>
</main>
<script>
    var menuList = document.getElementById("menuList");

    menuList.style.maxHeight = "0px";

    function togglemenu(){
        if(menuList.style.maxHeight == "0px"){
            menuList.style.maxHeight ="150px"
        }
        else{
            menuList.style.maxHeight ="0px"
        }
    }
</script>


<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }

    function on1() {
        document.getElementById("overlay1").style.display = "block";
    }

    function off1() {
        document.getElementById("overlay1").style.display = "none";
    }

    function on2() {
        document.getElementById("overlay2").style.display = "block";
    }

    function off2() {
        document.getElementById("overlay2").style.display = "none";
    }
</script>