<div>
    <ul>
            <li class="nav_bar"><a href="/patient">Home</a> > Record data</li>
    </ul>
</div>

<main>
    <ul class="top-info">  
        <li>
            <h2>Record Your Data</h2>
        </li>  
    </ul>

    <div id="overlay2" onclick="off2()">
        <div id="text">
            Your record has been successfully submitted!                
        </div>
        <a href="/patient/history_data">View history data ></a>
    </div>

    <div class="enter-data">
        <form action="/patient/record_data" method="POST">
            <label>Enter your blood glucose level:</label>
            <input name="bgl"></input><span class="nmol">nmol/L</span>
            <br>
            <a onclick="on1('bgl')">+ Add a comment</a>
            <br>
            <br>
            <br>
            <label>Enter your weight:</label>
            <input name="wght"></input><span class="kg">&nbsp;&nbsp;&nbsp;&nbsp;kg</span>
            <br>
            <a onclick="on1('wght')">+ Add a comment</a>
            <br>
            <br>
            <br>
            <label>Enter your insulin doses:</label>
            <input name="doses"></input><span class="doses">doses</span>
            <br>
            <a onclick="on1('doses')">+ Add a comment</a>
            <br>
            <br>
            <br>
            <label>Enter your step counts:</label>
            <input name="steps"></input><span class="steps">steps</span>
            <br>
            <a onclick="on1('steps')">+ Add a comment</a>
            <div class="button1">
                <button onclick="on2()" type="submit"><a><img src="../images/submit_icon.png">Submit</a></button>
            </div>

            <div id="overlaybgl" class="overlay1">
                <label>Add a comment:</label>
                <br>
                <textarea name="bglcmt" id="comment"></textarea>
                <div onclick="off1('bgl')" class="button1">Done</div>
            </div>

            <div id="overlaywght" class="overlay1">
                <label>Add a comment:</label>
                <br>
                <textarea name="wghtcmt" id="comment"></textarea>
                <div onclick="off1('wght')" class="button1">Done</div>
            </div>

            <div id="overlaydoses" class="overlay1">
                <label>Add a comment:</label>
                <br>
                <textarea name="dosescmt" id="comment"></textarea>
                <div onclick="off1('doses')" class="button1">Done</div>
            </div>

            <div id="overlaysteps" class="overlay1">
                <label>Add a comment:</label>
                <br>
                <textarea name="stepscmt" id="comment"></textarea>
                <div onclick="off1('steps')" class="button1">Done</div>
            </div>
            
        </form>
        
    </div>

    


    <div class="sentence">
        <p>Diabetes is the leading cause of bravery, determination, resilience, 
        maturity, empathy, strength, and compassion. </p>
        <br>
        <p>In other words, people with Diabetes are superheroes without capes!</p>
    </div>
    

    <!-- check图标？
        <img src="images/check_green.png">
    -->

    <br>
    <footer>
        <h6>Copyright 2022 | Privacy</h6>
        <br>
    </footer>
</main>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }

    function on1(name) {
        // document.getElementById("comment").setAttribute("name", `${name}cmt`)
        // console.log(JSON.stringify(req.body, null, 4))
        document.getElementById(`overlay${name}`).style.display = "block";
    }

    function off1(name) {
        document.getElementById(`overlay${name}`).style.display = "none";
    }

    function on2() {
        document.getElementById("overlay2").style.display = "block";
    }

    function off2() {
        document.getElementById("overlay2").style.display = "none";
    }
</script>