<body>
    <div class="title">
        Change my password
    </div>

    {{#if warning}} <p class="warning"> {{warning}} </p> {{/if}}
    
    <div class="enter-data" id="form">
        <form action="/clinician/updatePassword" method="POST" >
            <label>Enter old password:</label>
            <input type="password" name="old" required>
            <br>
            <label>Enter new password (at least 8 characters) :</label>
            <input type="password" name="new" minlength="8" required>
            <br>
            <label>Confirm new password:</label>
            <input type="password" name="confirm_new" minlength="8" required>
            <br>
            <div class="button">
                <button type="submit"><a>Change</a></button>
            </div>

        </form>
    </div>
            


</body>
