<ul class="comment-title">
    <li class="comment-title"><h1>Patients' Comments</h1></li>
</ul>

<HR class="comment-line">

<table class="comment-info">
    {{#each data}}
    <tr>
        <td class="comment-nav-left">{{this.first_name}} {{this.last_name}}</td>
        <td>{{this.cmt}}</td>
        <td class="comment-nav-right">{{this.time}}</td>
        <!-- <img src="images/reply_icon.png" alt="logo"> -->
    </tr>
    {{/each}}

</table>