<body>
    <section class="patient_data_nav-bar">
        <ul class="patient_data_nav-bar-1">
            <li class="patient_data_nav-bar-left"><h1><a href=" ">View Data ></a ></h1></li>
            <li class="patient_data_nav-bar-mid"><h1><a href="/clinician/comments">Clinician Notes ></a ></h1></li>
            <li class="patient_data_nav-bar-right"><h1><a href="/clinician/comments">Options ></a ></h1></li>
        </ul>
    </section>

    <div class="note_box">
        <p class="note">New Note</p>
        <form>
            <input class="message">
        </form>
        <button class="send" type="submit"><a>Send</a></button>
    </div>

    <hr class = "line" size="5" width="1420px" color="#194391">

    <div class="note_display">
        {{!-- <form>
            <input class="c_note">
            <input class="date">
        </form> --}}
        <p class="c_note"></p>
        <p class="date"></p>

    </div>
</body>