<ul class="top-info">
    <li><h2>Welcome Back!</h2></li>
    <li><p>{{patient.first_name}} {{patient.last_name}}{{#if patient.badge}}<img class="gold-badge" src="/images/golden_badge.png" alt="golden_badge">{{/if}}</p></li>
    <li class="blocks"></li>
</ul>
<div class="main">
    <ul class="nav-block">
        <li class="nav-block-record">
            <img src="/images/record.png" alt="record-icon">
            <p><a href="/patient/record_data">Record Data ></a></p>
        </li>
        <li class="nav-block-history">
            <img src="/images/history.png" alt="history-icon">
            <p><a href="/patient/history_data">View History Data ></a></p>
        </li>
    </ul>
    <ul class="nav-block">
        <li class="nav-block-message">
            <img src="/images/message.png" alt="message-icon">
            <p><a href="/patient/messages">Messages ></a></p>
        </li>
        <li class="nav-block-leaderboard">
            <img src="/images/leaderboard.png" alt="leaderboard-icon">
            <p><a href="/patient/leaderboard">Leaderboard ></a></p>
        </li>
    </ul>
    <!-- </div> -->
    <ul class="clinician-message">
        <li><p>Today's Clinician message</p></li>
        <li><h5>{{#if msg}}{{msg.msg}}{{else}}You can do this!!!{{/if}}</h5></li>
    </ul>
</div>