<body>
    <header class="Header">
        <h1>Diabetes@Home</h1>
    </header>
    <div>
        <hr class = "line1" size="1" width="900px" color="black">
        <hr class = "line2"size="1" width="900px" color="black">
        <ul class="login_nav_bar1">
            <li><a href="website", target="_blank">About This Website></a></li>
        </ul>
        <ul class="login_nav_bar2">
            <li><a href="diabetes", target="_blank">About Diabetes></a></li>
        </ul>
    </div>

    {{#if patient}}
        <p class="role_selector patient selected"><a href="/patient/webp" target="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patient</a></p>
        <p class="role_selector clinician"><a href="/clinician/webc" target="">Clinician</a></p><br><br><br><br>
    {{else}}
        <p class="role_selector patient"><a href="/patient/webp" target="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patient</a></p>
        <p class="role_selector clinician selected"><a href="/clinician/webc" target="">Clinician</a></p><br><br><br><br>
    {{/if}}
    
    {{!-- {{#if warning}} <p>{{warning}}</p> {{/if}} --}}

    <form class="login_form" {{#if patient}} action="/patient/webp" {{else}} action="/clinician/webc" {{/if}} method="POST">
        <div class="username_password">
            <label for="Username">Username*</label><br>
            <input type="text" id="username" name="email"><br>
            <br>
            <label for="Password">Password*</label><br>
            <input type="password" id="password" name="password"><br>
        </div>
        <ul class="forgot_password">
            <li><a href="/forgot", target="_blank">Forget Password?</a></li>
        </ul>
        <br>
        <input type="submit" value="Login">
    </form>

    {{!-- <form action="/clinician/encrypt" method="POST">
        <input type="submit" value="Encrypt">
    </form> --}}

</body>
<footer>
    <h5 style="position: relative; left: 100px">Copyright 2022 | Privacy</h5>
</footer>
</html>

<script>
    if (window.innerWidth <= 1024) {
        window.location.replace("/");
    }
</script>