<h1>Enter data</h1>

<form action="/patient" method="POST">
    <label>Enter your blood glucose level:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="bgl"></input><span style="margin-left:-60px; color: #868686;">nmol/L</span>
    <label>Comments:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="bglcmt"></input><span style="margin-left:-60px; color: #868686;"></span>
    <label>Enter your weight:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="wght"></input><span style="margin-left:-60px; color: #868686;">kg</span>
    <label>Comments:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="wghtcmt"></input><span style="margin-left:-60px; color: #868686;"></span>
    <label>Enter your insulin doses:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="doses"></input><span style="margin-left:-60px; color: #868686;">doses</span>
    <label>Comments:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="dosescmt"></input><span style="margin-left:-60px; color: #868686;"></span>
    <label>Enter your step count:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="steps"></input><span style="margin-left:-60px; color: #868686;">steps</span>
    <label>Comments:</label>
    <input style="padding-right:20px; text-align:left;" type="text" name="stepscmt"></input><span style="margin-left:-60px; color: #868686;"></span>
    <input type="submit" />
</form>