<div>
    <ul>
            <li class="nav_bar"><a href="/patient/dashboard">Home</a> > History messages</li>
    </ul>
</div>

<ul class="top-info">  
        <li>
            <h2>History messages</h2>
        </li>  
</ul>

{{#each message}}
<div class="comment-box">
    <div class="info">
        <img src="../images/doctor_{{#if this.ifF}}female{{else}}male{{/if}}_pfp.png">
        <p class="name">{{this.cname}}</p>
        <p class="date">{{this.date}}</p>
    </div>

    <div class="comment">
        <p>{{this.msg}}</p>
    </div>
    <br>
</div>
{{/each}}