<div>
    <ul>
            <li class="nav_bar"><a href="/patient/dashboard">Home</a> > Leaderboard</li>
    </ul>
</div>

<ul class="top-info">  
        <li>
            <h2>Leaderboard</h2>
        </li>  
</ul>

<!-- 第一名是这个div -->
<div class="number1-pfp">
    <img src="../images/pfp_female.jpeg" class="pfp1">
    <span><img src="../images/golden_badge.png" class="badge1"></span>   
</div>
<div class="username1">Wonder Woman</div>    
<div class="score1">98</div>

<!-- 后面几名都是这个叫others的div，里面的所有class名称不建议改，因为这四个人css都是用的同一个 -->
<div class="others">
    <div class="rank">2</div>
    <div class="pfp">
        <img src="../images/pfp_male.jpeg" class="pfp2">
        <span><img src="../images/golden_badge.png" class="badge2"></span>
    </div>
    <div class="username2">Big Joe</div>
    <div class="score2">96</div>
</div>
<br>

<div class="others">
    <div class="rank">3</div>
    <div class="pfp">
        <img src="../images/pfp_female.jpeg" class="pfp2">
        <span><img src="../images/golden_badge.png" class="badge2"></span>
    </div>
    <div class="username2">AG</div>
    <div class="score2">95</div>
</div>
<br>

<div class="others">
    <div class="rank">4</div>
    <div class="pfp">
        <img src="../images/pfp_male.jpeg" class="pfp2">
        <span><img src="../images/golden_badge.png" class="badge2"></span>
    </div>
    <div class="username2">Ja Williams</div>
    <div class="score2">94</div>
</div>
<br>

<div class="others">
    <div class="rank">5</div>
    <div class="pfp">
        <img src="../images/pfp_male.jpeg" class="pfp2">
        <span><img src="../images/golden_badge.png" class="badge2"></span>
    </div>
    <div class="username2">Ddd1111</div>
    <div class="score2">92</div>
</div>
<br>


<div class="badge-info">
    <div class="info-title">
        <p>What is a<span><img src="../images/golden_badge.png" class="badge3"></span>?</p>
    </div>
    
    <div class="info-text">
        <p>When your overall engagement rate since using the app is more than 80%, 
            you’ll get a<span><img src="../images/golden_badge.png" class="badge4"></span>!
            <br><br>Record your data everyday to make
            yourself on the leaderboard !!!</p>
    </div>
</div>

<div class="sentence">
    <p>Diabetes is the leading cause of bravery, determination, resilience, 
        maturity, empathy, strength, and compassion.
        <br>
        In other words, people with Diabetes are superheroes without capes!</p>
</div>

