<header class="top">
    <img src="ribbon.png" alt="logo" width="40", height="40">
    <h1>Diabetes@Home</h1>
</header>
<nav>
    <ul>
        <li><a href="/dashboard">Home</a></li>
        <li>></li>
        <li>Leaderboard</li>
    </ul>
</nav>
<section class="box-1">
    <h1>Leaderboard</h1>
</section>
<section class="numberone">
    <ul>
        <li><h1>Wonder Woman</li>
        <li><h3>98</h3></li>
    </ul>
</section>
<section class="leaderboard">
    <table>
        <tr>
            <td class="rank">2</td>
            <td class="name">Big Joe</td>
            <td class="score">96</td>
        </tr>
        <tr>
            <td class="rank">3</td>
            <td class="name">Ye</td>
            <td class="score">95</td>
        </tr>
    </table>   
</section>

<section class="intro">
    <p>
        What is a ?
    </p>
</section>

<footer>
    Copyright
</footer>

