<div>
    <ul>
            <li class="nav_bar"><a href="/patient/dashboard">Home</a> > Leaderboard</li>
    </ul>
</div>

<ul class="top-info">  
        <li>
            <h2>Leaderboard</h2>
        </li>  
</ul>

<div class="top1-guy">
    <div class="pfp">
        <img src="../images/pfp_female.jpeg">
    </div>
    <div class="badge">
        <img src="../images/golden_badge.png">
    </div>
    <div class="username">Wonder Woman</div>
    <div class="score">98</div>
</div>

<div class="other-people">

</div>

<div class="badge-info">
    <p>
        What is a ?
    </p>
</div>


