<body>
    <section class="patient_data_nav-bar">
    <ul class="patient_data_nav-bar-1">
        <li class="patient_data_nav-bar-left"><h1><a href=" ">View Data ></a ></h1></li>
        <li class="patient_data_nav-bar-mid"><h1><a href="/clinician/comments">Clinician Notes ></a ></h1></li>
        <li class="patient_data_nav-bar-right"><h1><a href="/clinician/comments">Options ></a ></h1></li>
    </ul>
    </section>

    <div class="name_header">
        <p>John Doe’s Data Threshold</p>
    </div>

    <hr class = "line" size="1" width="80%" color="black">

    <div class="Blood_Glucose_Level_control">
        <p class="BGL">Blood Glucose Level</p>
        <img class="greenb1" src="/images/greenb.png" align="right">
        <form>
            <input class="BGL_input_left"><label class="lable1">~</label><input class="BGL_input_right">
        </form>
        <p class="nmol">nmol/L</p>
        <button class="save1" type="submit"><a>Save</a></button>

    </div>
    <div class="Weight_control">
        <p class="Weight">Weight</p>
        <img class="greenb2" src="/images/blackb.png" align="right">
        <form>
            <input class="W_input_left"><label class="lable2">~</label><input class="W_input_right">
        </form>
        <p class="kg">kg</p>
        <button class="save2" type="submit"><a>Save</a></button>

    </div>
    <div class="Doses_Insulin_control">
        <p class="Doses_Insulin">Doses of Insulin</p>
        <img class="greenb3" src="/images/greenb.png" align="right">
        <form>
            <input class="Doses_Insulin_input_left"><label class="lable3">~</label><input class="Doses_Insulin_input_right">
        </form>
        <p class="doses">doses</p>
        <button class="save3" type="submit"><a>Save</a></button>

    </div>
    <div class="Exercise_control">
        <p class="Exercise">Exercise</p>
        <img class="greenb4" src="/images/greenb.png" align="right">
        <form>
            <input class="Exercise_input_left"><label class="lable4">~</label><input class="Exercise_input_right">
        </form>
        <p class="steps">steps</p>
        <button class="save4" type="submit"><a>Save</a></button>

    </div>
    <div class="message_box">
        <p class="message">Message</p>
        <form>
            <input class="message">
        </form>
        <button class="save5" type="submit"><a>Save</a></button>
    </div>
    <footer>
        Copyright 2022 | Privacy
    </footer>
</body>
