<body>
    <div class="title">
        Sign up new patient
    </div>

    <div class="enter-data">
        <form action="" method="POST">
            <!-- 我不确定input name要填什么 -->
            <label>Given name:</label>
            <input name=""></input>
            <br>
            <label>Family name:</label>
            <input name=""></input>
            <br>
            <label>Username:</label>
            <input name=""></input>
            <br>
            <label>Gender:</label>
            <input name=""></input>
            <br>
            <label>New password (at least 8 characters) :</label>
            <input name=""></input>
            <br>
            <label>Year of birth:</label>
            <input name=""></input>
            <br>
            <label>Text bio:</label>
            <br>
            <textarea name="" id=""></textarea>
            <br>
             <div class="button">
                <button onclick="on()" type="submit"><a>Sign up</a></button>
            </div>
        </form>
    </div>
            


</body>

<script>
    
    function on(name) {
        // document.getElementById("comment").setAttribute("name", `${name}cmt`)
        // console.log(JSON.stringify(req.body, null, 4))
        document.getElementById(`overlay${name}`).style.display = "block";
    }

    function off(name) {
        document.getElementById(`overlay${name}`).style.display = "none";
    }

</script>
