<section class="background">
    <header class="top">
        <img src="/images/ribbon.png" alt="logo" width="40", height="40">
        <h1><a href="/patient/dashboard">Diabetes@Home</a></h1>
    </header>
    {{#if loggedout}}
    <nav class="logout">
        <ul class="logout">
                <li><a href="/"><< Back to patient login</a></li>
                <li><a href="/clinician/webc" class="clinician"><< Back to clinician login</a></li>
        </ul>
    </nav>
    {{else}}
    <div class='nav_bar'>
        <a href="/patient/dashboard">Home</a > > About this website
    </div>
    {{/if}}
    <main>
        <ul class="container">
            <li class="item-left">
                <h2>About This Website</h2>
                    <p>
                        Diabetes@Home is a web app designed for monitoring diabetes at home. It allows for both patients and clinicians to manage data such as blood glucose level, weight, doses of insulin taken and exercise remotely. This web app is available on desktop for clinicians, and on desktop, tablet and phone for patients.
                    </p>
                    <p>
                        Time-series can be turned on or off, and both safety thresholds and support messages can be customised for each individual patient. Clinicians will be alerted within 5 minutes if a patient enters data outside of the threshold.
                    </p>
                    <p class="highlighted">
                        Login is required for access to all features.
                    </p>
                    <p>
                        This web app is developed by George Yu, Tony Xie, Lily Li, Sean Xiao and Stephen Liao.
                    </p>
            </li>
            <li class="item-right">
                <h2>Photo Gallery</h2>
                <section class="images">
                    <img src="/images/photo_gallery/food1.jpg" alt="pic not found">
                    <img src="/images/photo_gallery/food2.jpg" alt="pic not found">
                </section>
                <section class="images">
                    <img src="/images/photo_gallery/patient1.jpg" alt="pic not found">
                    <img src="/images/photo_gallery/patient2.jpg" alt="pic not found">
                </section>
                <section class="images">
                    <img src="/images/photo_gallery/hand1.jpg" alt="pic not found">
                    <img src="/images/photo_gallery/unimelb.jpg" alt="pic not found">
                </section>
            </li>
        </ul>
    </main>
</section>