body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    background-image: url(../images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 1080px;
    background-size: cover;
    overflow: scroll;
    background-attachment: fixed;
    margin: auto;
    text-align: center;
    min-width: 375px;
    max-width: 100%;
}

.top h1 a{
    color: white;
    font-family: 'Hurricane', cursive;
    font-size: 45px;
    text-decoration: none;
}

.top img{
    margin-left: 30px;
    margin-right: 10px;
}

.container{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.ribbon{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
    margin-left: 40px;
}

.hamb_logo{
    width: 60px;
    cursor: pointer;
    display:none;
}

.top {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #1D5EB7;
    opacity: 0.82;
    height: 80px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: -70px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav ul li a:hover{
    color: black;
}

.title{
    position: relative;
    height: 77px;
    top: 70px;
    font-size: 67px;
    font-family: 'kefa';
}

#text{
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 30px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Open Sans';
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.enter-data{
    position: relative;
    top: 100px;
    width: 551px;
    height: 1000px;
    margin: auto;
    padding: 1px;
    margin-top: 40px;
}

.enter-data form{
    float: left;
}

.enter-data form label{
    float: left;
    text-align: left;
    font-family: 'open sans';
    font-size: 36px;
    line-height: 1.6;
}

.enter-data form input{
    padding-left: 15px;
    font-size: 30px;
    text-align:left;
    width: 536px;
    height: 62px;
    background-color: white;
    border: 1.8px solid #707070;
    border-radius: 9px 9px 9px 9px;
    margin-top: 45px;
    margin-bottom: 80px;
}


.button{
    width: 540px;
    margin: auto;
    padding: 1px;
}

.button button{
    position: relative;
    width: 226px;
    height: 96px;
    border-radius: 11px 11px 11px 11px;
    border: 1.8px solid #707070;
}

.button button a{
    text-decoration: none;
    font-size: 35px;
    text-shadow: 0 0 0.4px #EAEAEA;
    font-family: 'Segoe UI';
}

.button button a :hover{
    text-decoration: underline;
}

.warning{
    background-color: rgba(234, 1, 1, 0.633);
    padding-left: 22px;
    padding-top: 26px;
    color: white;
    width: 534px;
    height: 50px;
    position: absolute;
    left: 35.7%;
    text-align: left;
    top: 43.5%;
    font-size: 24px;
}

@media only screen and (max-width: 375px) and (orientation: portrait){
    body{
        height: 1300px;
    }
    .container{
        width: 100%;
        padding-right: 0%;
    }
    .navbar{
        height:0px;
    }
    nav ul{
        width: 275px;
        background:#4279C2;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        top: 0px;
    }
    nav ul li a {
        font-size: 14px;
        color: white;
    }
    .hamb_logo{
        position: relative;
        top:-35px;
        right: 18px;
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .top h1 a{
        font-size: 32px;
    }
    header {
        width: 375px;
    }
    nav li{
        font-size: 16px;
    }
    nav ul{
        margin: 0px;
    }
    .nav_bar { 
        position: absolute;
        left: 10%;
        font-size: 16px;
    }
    .nav_bar a{ 
        font-size:16px;
    }

    ul{
        padding-top: 8px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape){
    body{
        height: 1900px;
    }

    .top-info{
        position: relative;
        margin-bottom: 50px;
    }
    
    nav ul li a {
        font-size: 20px;
    }
}