body {
    color: black;
    /*background: gray;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    background-image: url(../images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 2080px;
    /* height: 5000px; */
    background-size: cover;
    overflow: scroll;
    background-attachment: fixed;
    margin: auto;
}
ul.reset-nav-right{
    display: none;
}
.top img{
    margin-left: 30px;
    margin-right: 10px;
}
.container{
    width: 100%;
    /* min-height: 100vh; */
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.ribbon{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.hamb_logo{
    width: 60px;
    cursor: pointer;
    display:none;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: -75px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav ul li a:hover{
    color: black;
}
.navbar nav{
    height:0px;
}
.navbar ul{
    padding-top: 0px;
}

div li{
    font-size: 22px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #1D5EB7;
    opacity: 0.82;
    height: 80px;
}

ul {
    display: block;
    padding-left: 100px;
    list-style-type: none;
    padding-top: 30px;
    font-size: 18px;
    line-height: 2em;
}
.top img{
    margin-left: 30px;
    margin-right: 10px;
}

.top-info{
    margin-top: -40px;
}

.top-info h2{
    font-size: 44px; 
    margin-bottom: 120px; 
    color: #397EDA;
}

header a {
    text-decoration: none;
    color: white;
} 

header a:hover {
    color: white;
}

h1{
    color: white;
    font-family: 'Hurricane', cursive;
    font-size: 45px;
}

.comment-box{
    background-color: white;
    max-width: 60%;
    margin: auto;
    box-shadow: 5px 10px 18px #00000020;
    margin-bottom: 5%;
}

.info img{
    display: inline;
    margin-left: 8%;
    margin-top: 5%;
}

.comment-box p{
    font-family: 'Apple Braille';
    line-height: 1.6;
}
.comment-box img{
    height: 88px;
}
.name{
    display: inline;
    position: relative;
    top: -20px;
    margin-left: 1%;
    font-size: 32px;
    font-weight: bold;
}

.date{
    display: inline;
    float: right;
    margin-right: 8%;
    margin-top: 8%;
    font-size: 28px;
}

.comment{
    max-width: 80%;
    margin: auto;
    text-align: left;
    font-size: 30px;
    padding-bottom: 5%;
}

@media only screen and (max-width: 375px) and (orientation: portrait){
    body{
        height: 1300px;
    }
    .container{
        width: 100%;
        padding-right: 0%;
    }
    .navbar{
        height:0px;
    }
    nav ul{
        width: 275px;
        background:#4279C2;
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        top: 0px;
    }
    nav ul li a {
        font-size: 14px;
        color: white;
    }
    .hamb_logo{
        position: relative;
        top:-35px;
        right: 18px;
        display: block;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }

    .top h1 a{
        font-size: 32px;
    }
    header {
        width: 375px;
    }
    nav li{
        font-size: 16px;
    }
    nav ul{
        margin: 0px;
    }
    .nav_bar { 
        position: absolute;
        left: 10%;
        font-size: 16px;
    }
    .nav_bar a{ 
        font-size:16px;
    }

    ul{
        padding-top: 8px;
    }
    
    .top-info{
        position: relative;
        left: 10%;
        margin: 0px;
        padding-left: 0px;
        width: 250px;
    }
    .top-info li{
        width: 250px;
    }
    .top-info h2{
        font-size: 34px;
        margin-bottom: 40px;
        width:300px;
    }

    .comment-box {
        width: 300px;
        max-width: 100%;
    }

    .info img{
        margin-top: 6%;
        width: 22px;
    }

    .name{
        font-size: 10px;
        top: -5px;
    }

    .date {
        font-size: 10px;
    }

    .comment {
        max-width: 70%;
        font-size: 10px;
        padding-bottom: 0;
    }
    
    

    
}
@media only screen and (max-width: 1024px) and (orientation: landscape){
    body{
        height: 1900px;
    }

    .top-info{
        position: relative;
        margin-bottom: 50px;
    }
    
    nav ul li a {
        font-size: 20px;
    }

    .comment-box {
        max-width: 55%;
    }

    .info img{
        width: 66px;
    }

    .name{
        font-size: 30px;
    }

    .date {
        font-size: 25px;
    }

    .comment {
        font-size: 25px;
    }
}


