body {
    color: black;
    /*background: gray;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    background-image: url(../images/background.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 2080px;
    /* height: 5000px; */
    background-size: cover;
    overflow: scroll;
    background-attachment: fixed;
    margin: auto;
}

.top img{
    margin-left: 30px;
    margin-right: 10px;
}
.container{
    width: 100%;
    /* min-height: 100vh; */
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.ribbon{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.hamb_logo{
    width: 60px;
    cursor: pointer;
    display:none;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
    top: -75px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
nav ul li a:hover{
    color: black;
}
.navbar nav{
    height:0px;
}
.navbar ul{
    padding-top: 0px;
}

div li{
    font-size: 22px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #1D5EB7;
    opacity: 0.82;
    height: 80px;
}

ul {
    display: block;
    padding-left: 100px;
    list-style-type: none;
    padding-top: 30px;
    font-size: 18px;
    line-height: 2em;
}
.top img{
    margin-left: 30px;
    margin-right: 10px;
}

.top-info{
    margin-top: -40px;
}

.top-info h2{
    font-size: 44px; 
    margin-bottom: 120px; 
    color: #397EDA;
}

header a {
    text-decoration: none;
    color: white;
} 

header a:hover {
    color: white;
}

h1{
    color: white;
    font-family: 'Hurricane', cursive;
    font-size: 45px;
}
.number1-pfp {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp1{
    position: relative;
    left: 16px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.number1-pfp span{
    position: relative;
    left: -17px;
    top: 55px;
}
.badge1{
    width: 33px;
    height: 44px;
}

.username1 {
    display: block;
    position: relative;
    top: 25px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 35px;
    font-family: 'Arial Rounded MT Bold';
    padding: 20px;
}

.score1 {
    position: relative;
    top: 40px;
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 38px;
    font-family: 'American Typewriter';
}

.others{
    position: relative;
    height: 90px;
    top: 100px;
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #DEEDFB;
    border-radius: 15px 15px 15px 15px;
}

.rank {
    display: inline;
    position: absolute;
    top: 44%;
    left: 9%;
    font-family: 'Al Nile';
    font-size: 60px;
    color: #367DDB;
}

.others .pfp{
    display: inline;
    position: absolute;
    top: 17%;
    left: 18%;
    width: 30%;
}
.pfp2{
    display: inline;
    position: relative;
    left: 16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.badge2{
    display: inline;
    width: 15px;
    height: 20px;
}
.others .pfp span{
    position: relative;
}

.username2 {
    display: inline;
    position: absolute;
    left: 45%;
    text-align: center;
    font-size: 32px;
    font-family: 'Arial Rounded MT Bold';
}

.score2 {
    display: inline;
    position: absolute;
    right: 11%;
    text-align: center;
    font-size: 36px;
    font-family: 'American Typewriter';
}


.badge-info {
    position: relative;
    top: 10%;
    left: 8%;
}

.info-title p{
    font-family: 'Century Gothic Pro';
    font-weight: bold;
    font-size: 36px;
}

.badge-info span{
    position: relative;
    top: 7px;
    padding: 16px;
}
.badge3{
    width: 33px;
    height: 44px;
}

.info-text p{
    font-family: 'Century Gothic Pro';
    font-size: 30px;
    max-width: 80%;
    margin-top: 4%;
    line-height: 1.6;
}

.badge4{
    width: 30px;
    height: 40px;
}

.sentence{
    position: relative;
    top: 20%;
    left: 8%;
}

.sentence p{
    font-size: 26px;
    font-family: 'Apple Chancery';
    max-width: 80%;
    line-height: 1.6;
}