<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes@Home</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>
</head>
<body>
    <header class="top">
        <img src="../images/ribbon.png" alt="logo" width="40" height="40">
        <h1><a href="diabetes">Diabetes@Home</a></h1>
    </header>
    {{{body}}}
        <!-- <footer>
            <h6>Copyright 2022 | Privacy</h6>
        </footer> -->
</body>
</html>